In [160]:
import pandas as pd

In [161]:
stations = pd.read_csv("../data/stations_utf8.csv", delimiter=";")

In [162]:
stations.head()

,HstNummer,Name mit Ort,Name ohne Ort,Ort,GKZ,Globale ID,MVTT X,MVTT Y,WGS84 X,WGS84 Y
0,1,Karlsplatz (Stachus),Karlsplatz (Stachus),München,9162000,de:09162:1,4467762.0,826427.0,"48,1393653703985","11,5653864723266"
1,2,Marienplatz,Marienplatz,München,9162000,de:09162:2,4468673.0,826758.0,"48,1364342160178","11,5776511503947"
2,3,Isartor,Isartor,München,9162000,de:09162:3,4469056.0,827043.0,"48,1338899412007","11,5828176253145"
3,4,Rosenheimer Platz,Rosenheimer Platz,München,9162000,de:09162:4,4469877.0,827637.0,"48,1285874606085","11,5938895812341"
4,5,Ostbahnhof,Ostbahnhof,München,9162000,de:09162:5,4470634.0,827691.0,"48,1281372572089","11,604062351127"

In [163]:
# we don't need most columns
stations = stations.drop(["Name mit Ort", "GKZ", "Globale ID", "MVTT X", "MVTT Y"], axis=1)

In [164]:
# drop all where we have either no x or y coordinate (or both)
stations = stations[stations['WGS84 X'].notna()]
stations = stations[stations['WGS84 Y'].notna()]
stations = stations[stations['Ort'].isin(["München"])]

In [165]:
stations.head()

,HstNummer,Name ohne Ort,Ort,WGS84 X,WGS84 Y
0,1,Karlsplatz (Stachus),München,"48,1393653703985","11,5653864723266"
1,2,Marienplatz,München,"48,1364342160178","11,5776511503947"
2,3,Isartor,München,"48,1338899412007","11,5828176253145"
3,4,Rosenheimer Platz,München,"48,1285874606085","11,5938895812341"
4,5,Ostbahnhof,München,"48,1281372572089","11,604062351127"

In [166]:
stations['WGS84 X'] = stations['WGS84 X'].apply(lambda x: round(float(x.replace(",", ".")), 4))
stations['WGS84 Y'] = stations['WGS84 Y'].apply(lambda x: round(float(x.replace(",", ".")), 4))

In [167]:
stations.head()

   HstNummer         Name ohne Ort      Ort  WGS84 X  WGS84 Y
0          1  Karlsplatz (Stachus)  München  48.1394  11.5654
1          2           Marienplatz  München  48.1364  11.5777
2          3               Isartor  München  48.1339  11.5828
3          4     Rosenheimer Platz  München  48.1286  11.5939
4          5            Ostbahnhof  München  48.1281  11.6041

In [168]:
stations['Name ohne Ort'] = stations['Name ohne Ort'].apply(lambda x: str(x).replace(" ", "_"))
stations['Ort'] = stations['Ort'].apply(lambda x: str(x).replace(" ", "_"))

In [169]:
stations = stations.rename(columns={"Name ohne Ort": "Name", "WGS84 X": "Lon", "WGS84 Y": "Lat"})

In [170]:
stations.to_csv("../data/stations_utf8_cleansed.csv", index=False)

In [172]:
import yaml

In [178]:
text = yaml.dump(stations.to_dict(orient='records'), encoding="utf-8")
with open("../data/stations_utf8_cleansed.yaml", "wb") as file:
    file.write(text)